<!DOCTYPE html>
<html>
<head>
<title>El caura terra</title>
</head>
<body>

<h1>El terra caura page</h1>
<a href="/sensors">See sensors</a>

<script type="text/javascript" src="js/app.js"></script>

</body>
</html> 