<h1>Sensors</h1>

<p><b>Temperature:</b> <%= data.temperature %> : <%= data.temp_threshold %></p>
<p><b>Humidity:</b> <%= data.humidity %> : <%= data.hum_threshold %></p>

<canvas id="temp_slider" class="round-slider"></canvas>
<canvas id="hum_slider" class="round-slider"></canvas>